n8n workflows/Versioning/72925_ Handsfree 2.0 copy Experiment.json
{
  "name": "Handsfree 2.0 copy Experiment",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1220,
        -320
      ],
      "id": "28b25327-3752-49e6-b18c-814125165a3c",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tZwI274oKhBlrCZu",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Sales Visit Audio:{{ $json.translatedText }} "
            },
            {
              "content": "**Prompt:**\n* You are an expert data entry operator who analyses input text carefully and then puts them in the right field grounded in the information \n* Please see the transcription of the following sales-visit audio carefully and extract only these details:\n\n* **Retailer Name**\n* **Retailer Contact Person**\n* **Retailer Feedback**\n* **Competitor Feedback**\n* **Date&TimeStamp**\n\n\n**Field Descriptions:**\n\n* **Date&TimeStamp:** Date and timestamp of the time when the audio was submitted for extraction in IST (UTC+05:30) format\n* **Retailer Name:** Name of the store or retail outlet\n* **Retailer Contact Person:** Name of the person the sales rep interacted with\n* **Retailer Feedback:** Retailer’s comments or suggestions on products or service\n* **Competitor Feedback:**Comments or suggestions on Competitor's products or service or activities \n\n**Guidelines:**\n\n* Keep the results grounded in the input message only.\n* Label each field exactly as shown above.\n* Use clear, concise sentences or short bullet points.\n* Keep your entire response under 1500 characters.\n* In case any input is not received, please keep the field empty\n\n**Example Output:**\n\n```\nDate&TimeStamp: 27 May-25 1:04PM\nRetailer Name: Sharma General Store  \nRetailer Contact Person: Rajesh Sharma  \nRetailer Feedback: Customers requesting smaller pack size\nCompetitor Feedback: Competitor giving steep discounts which are leading to loss of sales for key SKU's  \n```\n\n**IMPORTANT**\n* Keep the results grounded in the input message only. * Please don't include any detail from outside the text message received"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 1,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1660,
        -320
      ],
      "id": "d3501ede-207b-4365-9cc0-b9eb16b6b22f",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "tZwI274oKhBlrCZu",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -420
      ],
      "id": "fce6ce6f-45a8-4aec-be5e-e083bd702a8d",
      "name": "Telegram Trigger",
      "webhookId": "a75a821a-42c4-408b-bb4a-8a2455b09705",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -320
      ],
      "id": "60f900af-ac16-4daa-9db1-0e24c16b85ed",
      "name": "Telegram",
      "webhookId": "60db1148-4a75-4dd7-bdac-362b9c661896",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "353875d0-84f4-40e0-801f-27b46d1d7fc3",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "={{ $json.message.voice }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        710,
        -320
      ],
      "id": "21d33057-7ddf-4f0d-a836-51fcc2c68dd2",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5348d61-1e0f-4d8c-ac85-74b12d5662f0",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "={{ $json.message.text }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        -420
      ],
      "id": "0fa43fde-01b2-4fb4-98e9-5b6b5fd0b649",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## TO DO\n1. in ai parser - add context of missing fields \n\ncomplete check o\n\nAdd extraction \n2. check accuracy in different languages\n3. Ask questions back to Telegram for those that have not been answered\n4. Add Widgets",
        "height": 220,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3480,
        -1080
      ],
      "id": "33acb348-b26e-49ce-bc62-9e6f60400cbb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "translateTo": "en"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        1440,
        -320
      ],
      "id": "7572c483-eb98-47be-8547-7cb14563d0ff",
      "name": "Translate a language",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "7426DaSR5B3v5Ayz",
          "name": "Google Translate account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// For single item processing (most common in n8n)\nconst salesData = $('Voice_TimeStamp').item.json.message.content;\n\n// Required fields to check\nconst requiredFields = [\n    \"Retailer Name\",\n    \"Retailer Contact Person\", \n    \"Retailer Feedback\", \n    \"Competitor Feedback\"\n];\n\n// Find missing fields\nconst missingFields = [];\nrequiredFields.forEach(field => {\n    const value = salesData[field];\n    if (!value || value.toString().trim() === \"\" || value === \"N/A\" || value === \"Not Provided\") {\n        missingFields.push(field);\n    }\n});\n\n// Create request message\nlet requestMessage;\nif (missingFields.length === 0) {\n    requestMessage = \"All fields are complete!\";\n} else if (missingFields.length === 1) {\n    requestMessage = `Could you please provide the ${missingFields[0]}?`;\n} else {\n    const allButLast = missingFields.slice(0, -1).join(\", \");\n    const lastField = missingFields[missingFields.length - 1];\n    requestMessage = `Could you please provide the ${allButLast} and ${lastField}?`;\n}\n\n// Create unique key\nconst dateTime = salesData[\"Date&TimeStamp\"] ;\n// const retailer = salesData[\"Retailer Name\"] || \"unknown\"; \nconst uniqueKey = DateTime ; \n  //`${dateTime}_${retailer}`;\n\n// Return the result\nreturn {\n    ...salesData,\n    missing_fields: missingFields,\n    request: requestMessage,\n    has_missing: missingFields.length > 0,\n    unique_key: uniqueKey\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        -220
      ],
      "id": "a31d5a82-2693-4ae8-9299-ff3e424b2604",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "={{ $json.request }}",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3340,
        -320
      ],
      "id": "80b8ff32-26d1-41b6-9fb9-1b5a2f6af47e",
      "name": "Send message and wait for response",
      "webhookId": "f5bcac4c-9ad0-41a8-ad1d-c74d3f088e93",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=The field(s) that are missing are:{{ $('Code1').item.json.missing_fields }}\n\nText that needs to be parsed for these missing fields: {{ $json.data.text }}",
              "role": "system"
            },
            {
              "content": "=# Role \n1. You are an expert data entry operator who analyzes input text carefully and accurately maps the information into the correct structured fields. \n2. Do **not make any assumptions** or generate content that is not explicitly present in the input.\n\n## Instructions\nPlease review the input message from the sales representative and extract only the clearly mentioned details into the following fields:\n\n* `Retailer Name`\n* `Retailer Contact Person`\n* `Retailer Feedback`\n* `Competitor Feedback`\n\n---\n\n## Field Descriptions:\n\n* `Retailer Name` Name of the store or retail outlet.\n* `Retailer Contact Person` Name of the person the sales rep interacted with.\n* `Retailer Feedback` Retailer’s comments or suggestions on products or service.\n* `Competitor Feedback` Comments or suggestions on competitor’s products, service, or activities.\n\n\n## Get Missing fields \n* The field(s) that are missing are :{{ $('Code1').item.json.missing_fields }}\n* The input recieved against these missing fields is {{ $json.data.text }} \n* Please map the **input received** to the **missing fields only**\n* Incase of ambigous input, use your intelligence to always map each missing field with the input text \n\n\n\n\n---\n\n## Guidelines:\n✅ Only include fields that are explicitly and clearly mentioned in the input.\n✅ If a field is **not present, not clearly identifiable**, or **ambiguous**, **do not include it** in the output.\n✅ Always **label each field** exactly as shown above.\n✅ Keep the results **100% grounded in the input text only** — no assumptions, guesses, or completions.\n✅ Incase of ambigous input, use your intelligence to always **label each field** exactly as shown above.\n\n\n---\n\n## Example Input and Output:\n\n\n**Example Input:**\n```\nSharma General Store and Rajesh\n```\n\n**Example Output:**\n\n```\nRetailer Name: Sharma General Store \nRetailer Contact Person: Rajesh \n```\n\n---\n\n**Example Input (Minimal):**\n\n```\nSharma General Store\n```\n\n**Example Output:**\n\n```\nRetailer Name: Sharma General Store  \n```\n\n**Example Input:**\n\"Got feedback from Mahesh that Market is offering 5% more margin\"\n\n**Example Output:**\nRetailer Contact Person: Mahesh\nCompetitor Feedback: Market is offering 5% more margin\n\n---\n\n**Example Input:**\n`Missing fields`: Retailer Contact Person and Competitor feedback\n`input text`:\"Met with Raj who says other shops giving better schemes\"\n\n**Example Output:**\nRetailer Contact Person: Raj\nCompetitor Feedback: other shops giving better schemes\n\n**Example Input:**\n`Missing fields`: Retailer feedback\n`input text`: \"Retailer says product moving slow and wants better margins\"\n\n**Example Output:**\nRetailer Feedback: product moving slow and wants better margins\n\n---\n\n**Example Input:**\n\"Raj mentioned stock quality is good but pricing high\"\n\n**Example Output:**\nRetailer Contact Person: Raj\nRetailer Feedback: stock quality is good but pricing high\n\n## Field Descriptions:\n// ...existing code...\n\n### Pattern Recognition:\n* `Retailer Contact Person`: Look for:\n  - Names mentioned after \"from\", \"by\", \"with\"\n  - Names at the end of sentences\n  - Single names without business context\n  \n* `Competitor Feedback`: Look for:\n  - Mentions of \"market\", \"competition\", \"others\"\n  - Comparative statements\n  - References to other brands/stores\n  - Pricing or scheme comparisons\n\n* `Retailer Feedback`: Look for:\n  - Direct quotes or statements from the retailer\n  - Comments about:\n    - Product performance\n    - Sales volumes\n    - Customer responses\n    - Pricing feedback\n    - Scheme effectiveness\n  - Phrases starting with:\n    - \"says\", \"mentioned\", \"complained\"\n    - \"wants\", \"needs\", \"requires\"\n    - \"suggested\", \"requested\"\n  - Quality or service-related comments\n\n\n---\n\n**IMPORTANT:**\n❗ Never infer or fabricate information.\n❗ Do not include any field in the output unless it is **explicitly present** in the input text.\n❗ Keep the format consistent and clean: `Field Name: Value`.\n❗ Please map the **input received** to the **missing fields only**\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 1,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3560,
        -320
      ],
      "id": "ff097ca9-7d2d-4d3a-85b7-3fc36be63cd4",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "tZwI274oKhBlrCZu",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"assignments\": [\n    {\n      \"id\": \"retailer_name_update\",\n      \"name\": \"Retailer Name\",\n      \"value\": \"{{ $json.message.content['Retailer Name'] || $('Code1').item.json['Retailer Name'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"contact_person_update\", \n      \"name\": \"Retailer Contact Person\",\n      \"value\": \"{{ $json.message.content['Retailer Contact Person'] || $('Code1').item.json['Retailer Contact Person'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"retailer_feedback_update\",\n      \"name\": \"message.content['Retailer Feedback']\", \n      \"value\": \"{{ $json.message.content['Retailer Feedback'] || $('Code1').item.json['Retailer Feedback'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"competitor_feedback_update\",\n      \"name\": \"message.content['Competitor Feedback']\",\n      \"value\": \"{{ $json.message.content['Competitor Feedback'] || $('Code1').item.json['Competitor Feedback'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"timestamp_preserve\",\n      \"name\": \"message.content['Date&TimeStamp']\",\n      \"value\": \"{{ $('Code1').item.json['Date&TimeStamp'] }}\",\n      \"type\": \"string\"\n    }\n  ],\n  \"includeOtherFields\": true,\n  \"options\": {}\n}",
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3920,
        -320
      ],
      "id": "be74309d-d816-4b75-8f78-df0925e5a570",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE",
          "mode": "list",
          "cachedResultName": "SalesBuddy_test 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date&Timestamp": "={{ $('Voice_TimeStamp').item.json.message.content['Date&TimeStamp'] }}",
            "Retailer Name": "={{ $('Voice_TimeStamp').item.json.message.content['Retailer Name'] }}",
            "Retailer Contact Person ": "={{ $('Voice_TimeStamp').item.json.message.content['Retailer Contact Person'] }}",
            "Retailer Feedback": "={{ $('Voice_TimeStamp').item.json.message.content['Retailer Feedback'] }}",
            "Competitor Feedback": "={{ $('Voice_TimeStamp').item.json.message.content['Competitor Feedback'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date&Timestamp",
              "displayName": "Date&Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Name",
              "displayName": "Retailer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Contact Person ",
              "displayName": "Retailer Contact Person ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Feedback",
              "displayName": "Retailer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Competitor Feedback",
              "displayName": "Competitor Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2680,
        -220
      ],
      "id": "5a995247-1ff4-4831-b307-3804459a4043",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j0oORrH64zoTRWWU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE",
          "mode": "list",
          "cachedResultName": "SalesBuddy_test 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date&Timestamp": "={{ $('Edit Fields2').item.json.assignments[4].value }}",
            "Retailer Contact Person ": "={{ $('Edit Fields2').item.json.assignments[1].value }}",
            "Retailer Feedback": "={{ $('Edit Fields2').item.json.assignments[2].value }}",
            "Competitor Feedback": "={{ $('Edit Fields2').item.json.assignments[3].value }}",
            "Retailer Name": "={{ $('Edit Fields2').item.json.assignments[0].value }}"
          },
          "matchingColumns": [
            "Date&Timestamp"
          ],
          "schema": [
            {
              "id": "Date&Timestamp",
              "displayName": "Date&Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retailer Name",
              "displayName": "Retailer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Contact Person ",
              "displayName": "Retailer Contact Person ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Feedback",
              "displayName": "Retailer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Competitor Feedback",
              "displayName": "Competitor Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4580,
        -420
      ],
      "id": "e558525b-62d4-4632-97dc-e5ec6dce5f94",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j0oORrH64zoTRWWU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9c5739-4fba-420a-8cfe-f3131d3837d7",
              "leftValue": "={{ $json.has_missing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        -220
      ],
      "id": "d5584798-9807-45da-8390-7524cdf4b1f8",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## I'm a note \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)## TO DO\n1. in ai parser - add context of missing fields \n\ncomplete check of mmissing fields entry\n \ndrill down the questions based on goal seek ",
        "height": 180,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2920,
        -1080
      ],
      "typeVersion": 1,
      "id": "8a1062f6-99f2-486c-a227-c98c6152390e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c14f078d-c5ec-426e-a15f-725485adfba2",
              "name": "message.content['Date&TimeStamp']",
              "value": "={{ $now.format('dd-MM-yy HH:mm')}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        -320
      ],
      "id": "f5fbafd0-238d-4082-bac5-c778f6bb54ca",
      "name": "Voice_TimeStamp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c14f078d-c5ec-426e-a15f-725485adfba2",
              "name": "message.content['Date&TimeStamp']",
              "value": "={{ $now.format('dd-MM-yy HH:mm')}}",
              "type": "string"
            },
            {
              "id": "c122594f-0521-4cc0-b58e-a9821795a6a9",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        -520
      ],
      "id": "7bfd546c-3a12-4652-8b41-2d3acb52222b",
      "name": "Text_TimeStamp"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=On {{ $json.message.content['Date&TimeStamp'] }}\n\ni have captured the following data:\n- Retailer Name:  {{ $json.message.content['Retailer Name'] }}\n- Retailer Contact Person: {{ $json.message.content['Retailer Contact Person'] }}\n- Retailer Feedback: {{ $json.message.content['Retailer Feedback'] }}\n- Competitor Feedback: {{ $json.message.content['Competitor Feedback'] }}\n\nPlease confirm if this is correct and i will record this data. In case you need to reject , please start again\nIn case any critical attribute has not been captured i will ask a follow-up question.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "❌ Reject"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        -320
      ],
      "id": "ea369caf-bf52-4718-b409-236982fe0b63",
      "name": "Send message and wait for response2",
      "webhookId": "7bfe197a-6b89-41a2-ab9d-3a83c96689cc",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=On {{ $json.assignments[4].value }} \n\n\ni have captured the following data:\n- Retailer Name: {{ $json.assignments[0].value }}\n- Retailer Contact Person: {{ $json.assignments[1].value }}\n- Retailer Feedback: {{ $json.assignments[2].value }}\n- Competitor Feedback: {{ $json.assignments[3].value }}\n\nPlease confirm if this is correct and i will record this data. In case you need to reject , please start again",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "❌ Reject"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4140,
        -320
      ],
      "id": "b61ec095-e1de-47e1-97ae-913cfc787e4e",
      "name": "Send message and wait for response3",
      "webhookId": "382a83f6-1b66-406c-bf01-63e3aa70b070",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "=On {{ $json.assignments[4].value }} \n\ni have captured the following data:\n- Retailer Name: {{ $json.assignments[0].value }} \n- Retailer Contact Person: {{ $json.assignments[1].value }}\n- Retailer Feedback: {{ $json.assignments[2].value }}\n- Competitor Feedback: {{ $json.assignments[3].value }}\n\nPlease confirm if this is correct and i will record this data. In case you need to reject , please start again",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "❌ Reject"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        -780
      ],
      "id": "55bee686-b3d8-4098-8508-d10d18a4c4b0",
      "name": "Send message and wait for response5",
      "webhookId": "3bb3c4b4-60f0-4b89-8c3b-4ac9eda86cb2",
      "credentials": {
        "telegramApi": {
          "id": "jezSBUM7hVFHtPU7",
          "name": "SalesBuddy"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Sales Visit Text:  {{ $json.message.text }}"
            },
            {
              "content": "=**Prompt:**\n* You are an expert data entry operator who analyses input text carefully and then puts them in the right field grounded in the information \n* Please see the text from the sales personnel from their sales visit carefully and extract only these details:\n\n\n* `Retailer Name`\n* `Retailer Contact Person`\n* `Retailer Feedback`\n* `Competitor Feedback`\n\n\n**Field Descriptions:**\n\n* `Retailer Name` Name of the store or retail outlet.\n* `Retailer Contact Person` Name of the person the sales rep interacted with.\n* `Retailer Feedback` Retailer’s comments or suggestions on products or service.\n* `Competitor Feedback` Comments or suggestions on competitor’s products, service, or activities.\n\n**Guidelines:**\n\n* Keep the results grounded in the input message only.\n* Label each field exactly as shown above.\n* Use clear, concise sentences or short bullet points.\n* Keep your entire response under 1500 characters.\n\n**Example Output:**\n\n```\nRetailer Name: Sharma General Store  \nRetailer Contact Person: Rajesh Sharma  \nRetailer Feedback: Customers requesting smaller pack size \nCompetitor Feedback: Competition is giving a lot of discounts\n\n```\n\n**IMPORTANT**\n* Keep the results grounded in the input message only. * Please don't include any detail from outside the text message received"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        -520
      ],
      "id": "307d91f0-ea30-41c7-a464-55eaa56ac08f",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "tZwI274oKhBlrCZu",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "613c064d-eef5-4ed0-b4e2-aede2d2972dd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7bcd60ca-2d04-4e59-9e16-05f3208336f3",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "86accc3a-2ac9-4bdd-8a70-282348bd37f8",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        -420
      ],
      "id": "50785436-6918-4314-b168-01a7aa77637c",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "🤖 Welcome to SalesBuddy!\n\nI'm here to help you capture your sales visit data quickly and efficiently.\n\n📝 Please share the following information via text or voice:\n- Retailer Name\n- Point of Contact  \n- Retailer Feedback\n- Competitor Feedback\n\nI'll capture the data and confirm with you before logging it in the system.\n\nLet's get started! 🚀",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        -345
      ],
      "id": "acedb2be-5e6c-45ae-bad9-c81caef02a8e",
      "name": "Send a text message",
      "webhookId": "d8b0a664-be7a-44c6-bbf9-781c4907f82a",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## I'm a note \nnew sheet \nseller name\n\n\"Not specified\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3900,
        -940
      ],
      "typeVersion": 1,
      "id": "730d0a89-7a2b-494e-b770-b1a9253e1a23",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Your Data Input has been now recorded. Thank You !",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3340,
        -120
      ],
      "id": "417281d9-e71f-4d3a-b560-645a479b0ab9",
      "name": "Send a text message3",
      "webhookId": "45e4fcf0-6c16-4427-a8e2-a3dd7e6e1ecc",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Your Data Input has been now recorded. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        -420
      ],
      "id": "1ac1a3de-95e6-494b-9ef0-20b0481b39b4",
      "name": "Send a text message4",
      "webhookId": "a4acb3b4-e325-4630-8587-46ed4b9d1be3",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Rejected, Please try again. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2680,
        -420
      ],
      "id": "ea2aea12-20f3-4fe0-9a90-852ef7953a5d",
      "name": "Send a text message8",
      "webhookId": "6040038e-192b-4a9a-93cb-eb7422eaf08e",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b2112d1-8840-477c-a824-8282d5e68449",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        -320
      ],
      "id": "48192e00-ea60-486c-a220-8c0d405bd471",
      "name": "If7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Rejected, Please try again. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4580,
        -220
      ],
      "id": "b032507b-4f86-4dde-98bc-f2eab2017e22",
      "name": "Send a text message9",
      "webhookId": "8772aadf-5323-4e7b-ab8d-ae7c674b5162",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b2112d1-8840-477c-a824-8282d5e68449",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4360,
        -320
      ],
      "id": "fa1eefa1-092e-4e68-ac29-6025b3ae1c1f",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "=On {{ $json.message.content['Date&TimeStamp'] }}\n\ni have captured the following data:\n- Retailer Name:  {{ $json.message.content['Retailer Name'] }}\n- Retailer Contact Person: {{ $json.message.content['Retailer Contact Person'] }}\n- Retailer Feedback: {{ $json.message.content['Retailer Feedback'] }}\n- Competitor Feedback: {{ $json.message.content['Competitor Feedback'] }}\n\nPlease confirm if this is correct and i will record this data. In case you reject , please start again\nIn case any critical attribute has not been captured i will ask a follow-up question. \n",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "❌ Reject"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": "={{ 2 }}",
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        -1040
      ],
      "id": "bd67232b-014f-4c20-ab3b-196e718e1e55",
      "name": "Send message and wait for response6",
      "webhookId": "12065aff-12eb-47b8-86e0-8490b1aef243",
      "credentials": {
        "telegramApi": {
          "id": "jezSBUM7hVFHtPU7",
          "name": "SalesBuddy"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📊 *Sales Visit Summary*\n📅 *Date:* {{ $json.message.content['Date&TimeStamp'] }}\n🏪 *Retailer:* {{ $json.message.content['Retailer Name'] }}\n👤 *Contact:* {{ $json.message.content['Retailer Contact Person'] }}\n💬 *Feedback:* {{ $json.message.content['Retailer Feedback'] }}\n🏆 *Competition:* {{ $json.message.content['Competitor Feedback'] }}\n*Please confirm to save this data:*\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve & Save",
                    "additionalFields": {
                      "callback_data": "approve_data"
                    }
                  },
                  {
                    "text": "❌ Reject & Retry",
                    "additionalFields": {
                      "callback_data": "reject_data"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1220,
        -520
      ],
      "id": "16955b70-970d-44fb-8806-3b54c2eef8c4",
      "name": "Send a text message5",
      "webhookId": "12065aff-12eb-47b8-86e0-8490b1aef243",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE",
          "mode": "list",
          "cachedResultName": "SalesBuddy_test 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Retailer Name": "={{ $('Text_TimeStamp').item.json.message.content['Retailer Name'] }}",
            "Retailer Contact Person ": "={{ $('Text_TimeStamp').item.json.message.content['Retailer Contact Person'] }}",
            "Retailer Feedback": "={{ $('Text_TimeStamp').item.json.message.content['Retailer Feedback'] }}",
            "Date&Timestamp": "={{ $('Text_TimeStamp').item.json.message.content['Date&TimeStamp'] }}",
            "Competitor Feedback": "={{ $('Text_TimeStamp').item.json.message.content['Competitor Feedback'] }}"
          },
          "matchingColumns": [
            "Retailer Name"
          ],
          "schema": [
            {
              "id": "Date&Timestamp",
              "displayName": "Date&Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retailer Name",
              "displayName": "Retailer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retailer Contact Person ",
              "displayName": "Retailer Contact Person ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retailer Feedback",
              "displayName": "Retailer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Competitor Feedback",
              "displayName": "Competitor Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        340
      ],
      "id": "46f36056-2627-4906-bf5b-034a4657145b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j0oORrH64zoTRWWU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// For single item processing (most common in n8n)\nconst salesData = $('Text_TimeStamp').item.json.message.content;\n\n// Required fields to check\nconst requiredFields = [\n    \"Retailer Name\",\n    \"Retailer Contact Person\", \n    \"Retailer Feedback\", \n    \"Competitor Feedback\"\n];\n\n// Find missing fields\nconst missingFields = [];\nrequiredFields.forEach(field => {\n    const value = salesData[field];\n    if (!value || value.toString().trim() === \"\" || value === \"N/A\" || value === \"Not Provided\") {\n        missingFields.push(field);\n    }\n});\n\n// Create request message\nlet requestMessage;\nif (missingFields.length === 0) {\n    requestMessage = \"All fields are complete!\";\n} else if (missingFields.length === 1) {\n    requestMessage = `Could you please provide the ${missingFields[0]}?`;\n} else {\n    const allButLast = missingFields.slice(0, -1).join(\", \");\n    const lastField = missingFields[missingFields.length - 1];\n    requestMessage = `Could you please provide the ${allButLast} and ${lastField}?`;\n}\n\n// Create unique key\nconst dateTime = salesData[\"Date&TimeStamp\"] ;\n// const retailer = salesData[\"Retailer Name\"] || \"unknown\"; \nconst uniqueKey = DateTime ; \n  //`${dateTime}_${retailer}`;\n\n// Return the result\nreturn {\n    ...salesData,\n    missing_fields: missingFields,\n    request: requestMessage,\n    has_missing: missingFields.length > 0,\n    unique_key: uniqueKey\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        340
      ],
      "id": "1a86404d-03db-496c-a6e9-a8d2d5768f2f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "={{ $json.request }}",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        440
      ],
      "id": "7791de35-9a45-4ccf-9997-30c7391879ef",
      "name": "Send message and wait for response1",
      "webhookId": "86602b53-ccb3-4cbe-8dc9-ba62231a2afa",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=The field(s) that are missing are:{{ $('Code').item.json.missing_fields }}\n\nText that needs to be parsed for these missing fields: {{ $json.data.text }}",
              "role": "system"
            },
            {
              "content": "=# Role \n1. You are an expert data entry operator who analyzes input text carefully and accurately maps the information into the correct structured fields. \n2. Do **not make any assumptions** or generate content that is not explicitly present in the input.\n\n## Instructions\nPlease review the input message from the sales representative and extract only the clearly mentioned details into the following fields:\n\n* `Retailer Name`\n* `Retailer Contact Person`\n* `Retailer Feedback`\n* `Competitor Feedback`\n\n---\n\n## Field Descriptions:\n\n* `Retailer Name` Name of the store or retail outlet.\n* `Retailer Contact Person` Name of the person the sales rep interacted with.\n* `Retailer Feedback` Retailer’s comments or suggestions on products or service.\n* `Competitor Feedback` Comments or suggestions on competitor’s products, service, or activities.\n\n\n## Get Missing fields \n* The field(s) that are missing are :{{ $('Code').item.json.missing_fields }}\n* The input recieved against these missing fields is {{ $json.data.text }}\n* Please map the **input received** to the **missing fields only**\n* Incase of ambigous input, use your intelligence to always map each missing field with the input text \n\n\n\n\n---\n\n## Guidelines:\n✅ Only include fields that are explicitly and clearly mentioned in the input.\n✅ If a field is **not present, not clearly identifiable**, or **ambiguous**, **do not include it** in the output.\n✅ Always **label each field** exactly as shown above.\n✅ Keep the results **100% grounded in the input text only** — no assumptions, guesses, or completions.\n✅ Incase of ambigous input, use your intelligence to always **label each field** exactly as shown above.\n\n\n---\n\n## Example Input and Output:\n\n\n**Example Input:**\n```\nSharma General Store and Rajesh\n```\n\n**Example Output:**\n\n```\nRetailer Name: Sharma General Store \nRetailer Contact Person: Rajesh \n```\n\n---\n\n**Example Input (Minimal):**\n\n```\nSharma General Store\n```\n\n**Example Output:**\n\n```\nRetailer Name: Sharma General Store  \n```\n\n**Example Input:**\n\"Got feedback from Mahesh that Market is offering 5% more margin\"\n\n**Example Output:**\nRetailer Contact Person: Mahesh\nCompetitor Feedback: Market is offering 5% more margin\n\n---\n\n**Example Input:**\n`Missing fields`: Retailer Contact Person and Competitor feedback\n`input text`:\"Met with Raj who says other shops giving better schemes\"\n\n**Example Output:**\nRetailer Contact Person: Raj\nCompetitor Feedback: other shops giving better schemes\n\n**Example Input:**\n`Missing fields`: Retailer feedback\n`input text`: \"Retailer says product moving slow and wants better margins\"\n\n**Example Output:**\nRetailer Feedback: product moving slow and wants better margins\n\n---\n\n**Example Input:**\n\"Raj mentioned stock quality is good but pricing high\"\n\n**Example Output:**\nRetailer Contact Person: Raj\nRetailer Feedback: stock quality is good but pricing high\n\n## Field Descriptions:\n// ...existing code...\n\n### Pattern Recognition:\n* `Retailer Contact Person`: Look for:\n  - Names mentioned after \"from\", \"by\", \"with\"\n  - Names at the end of sentences\n  - Single names without business context\n  \n* `Competitor Feedback`: Look for:\n  - Mentions of \"market\", \"competition\", \"others\"\n  - Comparative statements\n  - References to other brands/stores\n  - Pricing or scheme comparisons\n\n* `Retailer Feedback`: Look for:\n  - Direct quotes or statements from the retailer\n  - Comments about:\n    - Product performance\n    - Sales volumes\n    - Customer responses\n    - Pricing feedback\n    - Scheme effectiveness\n  - Phrases starting with:\n    - \"says\", \"mentioned\", \"complained\"\n    - \"wants\", \"needs\", \"requires\"\n    - \"suggested\", \"requested\"\n  - Quality or service-related comments\n\n\n---\n\n**IMPORTANT:**\n❗ Never infer or fabricate information.\n❗ Do not include any field in the output unless it is **explicitly present** in the input text.\n❗ Keep the format consistent and clean: `Field Name: Value`.\n❗ Please map the **input received** to the **missing fields only**\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 1,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1300,
        440
      ],
      "id": "1ad3adbb-9323-4c23-a04b-650e3dec5fd6",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "tZwI274oKhBlrCZu",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"assignments\": [\n    {\n      \"id\": \"retailer_name_update\",\n      \"name\": \"Retailer Name\",\n      \"value\": \"{{ $json.message.content['Retailer Name'] || $('Code').item.json['Retailer Name'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"contact_person_update\", \n      \"name\": \"Retailer Contact Person\",\n      \"value\": \"{{ $json.message.content['Retailer Contact Person'] || $('Code').item.json['Retailer Contact Person'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"retailer_feedback_update\",\n      \"name\": \"message.content['Retailer Feedback']\", \n      \"value\": \"{{ $json.message.content['Retailer Feedback'] || $('Code').item.json['Retailer Feedback'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"competitor_feedback_update\",\n      \"name\": \"message.content['Competitor Feedback']\",\n      \"value\": \"{{ $json.message.content['Competitor Feedback'] || $('Code').item.json['Competitor Feedback'] }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"timestamp_preserve\",\n      \"name\": \"message.content['Date&TimeStamp']\",\n      \"value\": \"{{ $('Code').item.json['Date&TimeStamp'] }}\",\n      \"type\": \"string\"\n    }\n  ],\n  \"includeOtherFields\": true,\n  \"options\": {}\n}",
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        440
      ],
      "id": "695c4bd2-38a3-489e-ba8c-1b65e018407b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE",
          "mode": "list",
          "cachedResultName": "SalesBuddy_test 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18fgBU6ef4ZMFU4e3JG1pO9XwdEN4lRBolKLe6HkW7AE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date&Timestamp": "={{ $('Edit Fields').item.json.assignments[4].value }}",
            "Retailer Name": "={{ $('Edit Fields').item.json.assignments[0].value }}",
            "Retailer Contact Person ": "={{ $('Edit Fields').item.json.assignments[1].value }}",
            "Competitor Feedback": "={{ $('Edit Fields').item.json.assignments[3].value }}",
            "Retailer Feedback": "={{ $('Edit Fields').item.json.assignments[2].value }}"
          },
          "matchingColumns": [
            "Date&Timestamp"
          ],
          "schema": [
            {
              "id": "Date&Timestamp",
              "displayName": "Date&Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retailer Name",
              "displayName": "Retailer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Contact Person ",
              "displayName": "Retailer Contact Person ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retailer Feedback",
              "displayName": "Retailer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Competitor Feedback",
              "displayName": "Competitor Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logprobs",
              "displayName": "logprobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finish_reason",
              "displayName": "finish_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2320,
        540
      ],
      "id": "593562b6-0760-415b-b4a1-47b8d51d3ee4",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j0oORrH64zoTRWWU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9c5739-4fba-420a-8cfe-f3131d3837d7",
              "leftValue": "={{ $json.has_missing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        340
      ],
      "id": "0cd493bc-ceb3-463c-a3da-960db144f39c",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Your Data Input has been now recorded. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        240
      ],
      "id": "4b1ce0e7-f114-40d9-9c9f-eeef165ba3b9",
      "name": "Send a text message1",
      "webhookId": "bd59298c-0a66-424f-9290-c4a76e134d19",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Your Data Input has been now recorded. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2540,
        540
      ],
      "id": "4447b77e-622f-40c5-be8f-e4cedb0d580c",
      "name": "Send a text message2",
      "webhookId": "b611f90a-09a9-4355-a2aa-e5d0e728d79e",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Rejected, Please try again. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        420,
        140
      ],
      "id": "7e04db57-e33a-433d-9ea3-4dac8df0ed9e",
      "name": "Send a text message6",
      "webhookId": "7532f364-7cbf-4c7a-b489-6dd939925938",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Rejected, Please try again. Thank You !",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        340
      ],
      "id": "13f5a6f9-a6cd-4a6c-b68b-3a9c8faf7615",
      "name": "Send a text message7",
      "webhookId": "f8579bf3-fce3-4d90-8272-e2b3a06de80b",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4178ba21-b808-4988-9314-0b6967938025",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        440
      ],
      "id": "c34f41ac-6977-4ae1-8bcd-44ab7884622b",
      "name": "If6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📊 *Sales Visit Summary*\n📅 *Date:* {{ $json.assignments[4].value }} \n🏪 *Retailer:* {{ $json.assignments[0].value }} \n👤 *Contact:* {{ $json.assignments[1].value }} \n💬 *Feedback:* {{{ $json.assignments[2].value }} \n🏆 *Competition:* {{ $json.assignments[3].value }} \n*Please confirm to save this data:*\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve & Save",
                    "additionalFields": {
                      "callback_data": "approve_data"
                    }
                  },
                  {
                    "text": "❌ Reject & Retry",
                    "additionalFields": {
                      "callback_data": "reject_data"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1880,
        440
      ],
      "id": "709e4c05-22c6-4716-86eb-ec1ef2418998",
      "name": "Send a text message10",
      "webhookId": "12065aff-12eb-47b8-86e0-8490b1aef243",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        240
      ],
      "id": "0f9a403e-6d24-4700-9f6b-4745cb09ffd2",
      "name": "Telegram Trigger1",
      "webhookId": "67421826-a227-49da-b1d7-162a520232c9",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "approve_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed8844b7-3d33-4783-8a15-4bd9955d0355"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9dc5a8c-3fbf-4c0e-9f75-0e7d9ce811ab",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reject_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        240
      ],
      "id": "3f31ff00-94cc-43aa-9b8f-1d9bc6a8240d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "show_alert": false,
          "text": "✅ Processing..."
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20,
        240
      ],
      "id": "c47a780f-0338-4534-9ce2-a8cc9f4b71e3",
      "name": "Answer Query a callback",
      "webhookId": "f28cffe5-dd52-42d4-b10d-7844a6e47834",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 538848979,
          "message": {
            "message_id": 65,
            "from": {
              "id": 885371843,
              "is_bot": false,
              "first_name": "Sorabh",
              "last_name": "Vij",
              "language_code": "en"
            },
            "chat": {
              "id": 885371843,
              "first_name": "Sorabh",
              "last_name": "Vij",
              "type": "private"
            },
            "date": 1753794654,
            "text": "i met mr. Gulati at trader conference and he is not happy with our products"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Translate a language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Voice_TimeStamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send message and wait for response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice_TimeStamp": {
      "main": [
        [
          {
            "node": "Send message and wait for response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text_TimeStamp": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response3": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response5": {
      "main": [
        []
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Text_TimeStamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message8": {
      "main": [
        []
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message5": {
      "main": [
        []
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message10": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "versionId": "e23ab22e-d9ac-47a0-b993-f47ac869c089",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39e9c01a2593b60176cdd2d00be53f2e0050f53645e1b6f9eb05581d48e18abf"
  },
  "id": "bbOou0FzV5Ak4qwA",
  "tags": [
    {
      "createdAt": "2025-07-26T16:26:45.090Z",
      "updatedAt": "2025-07-26T16:26:45.090Z",
      "id": "8j6pxXS6Xsd0kBzC",
      "name": "MissingFieldsIdentify"
    },
    {
      "createdAt": "2025-07-26T16:25:04.243Z",
      "updatedAt": "2025-07-26T16:25:04.243Z",
      "id": "OAAUrVQXwBB9xdso",
      "name": "TextInput"
    },
    {
      "createdAt": "2025-07-26T16:27:25.242Z",
      "updatedAt": "2025-07-26T16:27:25.242Z",
      "id": "iU7DtzTHrTGwgHYr",
      "name": "MissingFieldsQuestioning"
    },
    {
      "createdAt": "2025-07-26T16:36:15.997Z",
      "updatedAt": "2025-07-26T16:36:15.997Z",
      "id": "mGUPnh4FXOoQuYQ2",
      "name": "Experiment"
    },
    {
      "createdAt": "2025-07-26T16:24:56.095Z",
      "updatedAt": "2025-07-26T16:24:56.095Z",
      "id": "sJ12pmrpv4pKM9wx",
      "name": "VoiceInput"
    }
  ]
}