n8n workflows/07:09:25/sorabhvij-workflows/Gwkdynsv9XAtDYlf-Telegram_Q_A.json
{
  "name": "Telegram Q&A",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "86c2b565-1503-40c6-b29d-c2f29933d318",
      "name": "Telegram Trigger",
      "webhookId": "246804a5-115a-4587-9a95-8ba98edba5fe",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        180,
        0
      ],
      "id": "21a9f357-d3e4-469d-8756-d931d01adb20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "c469f55f-d7b4-4656-ad3a-3c729e0dd6f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9oixQyK76pWY15yH",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "97509b5c-3afc-44b5-b1e7-c50b3427924d",
      "name": "Telegram",
      "webhookId": "bed7697d-ab88-4d76-846c-66b02e93c295",
      "credentials": {
        "telegramApi": {
          "id": "eBd2kKuQ331m8lGg",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}